<launch>
    <arg name="type" default="PID" />

    <include file="$(find mushr_sim)/launch/teleop.launch" />
    <include file="$(find lab3)/launch/map_server.launch" />
    <node pkg="lab2" type="main.py" name="main" output="screen" />
    	<param name="/controller/type" value="$(arg type)"/>

</launch>

